.header {
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #d9d9d9;
    border: 1px solid #b6b6b6;
    border-radius: 12px;
    padding: 10px 15px 10px 15px;
}

.header .row {
    margin-bottom: 0px;
    padding: 4px 10px;
}

.label {
    font-weight: 700;
    margin-right: 20px;
    margin-bottom: 0px;
}

.value {
    margin-bottom: 0px;
}

.table {
    border: 1px solid #11111130;
    margin-bottom: 0px;
    text-align: center;
}

.table td, .table th {
    padding: 2px 8px 2px 8px;
    font-size: 12px;
}

.table td{
    line-height: 60px;
}

.notify {
    border-radius: 8px;
    line-break: anywhere;
    line-height: 30px;
    color: white;
}

.block-bar {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 14px;
    max-width: 7px;
    padding: 0px;
    margin-right: 4px;
}

.row {
    padding: 0px 15px;
    margin-bottom: 20px;
}

.block {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 12px;
}