body {
  font-size: 12px;
}

.header {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #d9d9d9;
  border: 1px solid #b6b6b6;
  border-radius: 12px;
  padding: 10px 15px 10px 15px;
}

.header .row {
  margin-bottom: 0px;
  padding: 4px 10px;
}

.header .p {
  margin-bottom: 0px;
}

.label {
  font-weight: 700;
  margin-right: 20px;
  margin-bottom: 0px;
}

.value {
  margin-bottom: 0px;
}

.action {
  padding: 0px;
}

select#period {
  background-color: #d9d9d9;
  border: 2px solid #656565;
  border-radius: 5px;
  position: absolute;
  left: 90px;
}

select#student {
  background-color: #d9d9d9;
  border: 2px solid #656565;
  border-radius: 5px;
  /* position: absolute; */
  /* left: 90px; */
}

.table {
  border: 1px solid #11111130;
  margin-bottom: 0px;
}

.table td, .table th {
  padding: 2px 8px 2px 8px;
  font-size: 12px;
}

.trailer {
  background-color: #0606066e;
  text-align: left;
  font-size: 12px;
  padding: 2px 10px;
  margin-top: 10px;
}

.block-bar {
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 14px;
  max-width: 7px;
  padding: 0px;
  margin-right: 4px;
}

.block-title {
  margin-bottom: 10px;
  background-color: #0606066e;
  border: 1.5px solid #1212125c;
  border-radius: 6px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  padding: 2px;
}

.row {
  padding: 0px 15px;
  margin-bottom: 20px;
}

.block {
  padding: 0px;
  margin: 0px;
}

.footer {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #21212142;
  padding: 20px;
  text-align: center;
}

.footer h5 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0px;
}

.notify {
  text-align: center;
  border-radius: 8px;
  line-break: anywhere;
  line-height: 30px;
  color: white;
  padding: 0px 4px;
}

button {
  /* margin-top: 20px; */
  background-color: #28bd28;
  border-radius: 12px;
  text-align: center;
  line-height: 34px;
  color: white;
  font-weight: 700;
  width: -webkit-fill-available;
}

.row.selector.sel-mtop {
  margin-top: 18px;
}